{% extends "base.html" %}

{% block header %}
    <script language="JavaScript"
	    type="text/javascript"
	    src="{{ media }}js/i18n.js"></script>
    <script language="JavaScript"
	    type="text/javascript"
	    src="{{ media }}js/core.js"></script>
    <script language="JavaScript"
	    type="text/javascript"
	    src="{{ media }}js/calendar.js"></script>
    <script language="JavaScript"
	    type="text/javascript"
	    src="{{ media }}js/admin/DateTimeShortcuts.js"></script>
{% endblock %}
