{% extends "www/root.html" %}

{% block footer %}
   
    &nbsp;<br/>
     <div id="footer">
	<ul class="listinlinetiny">
			<li>Copyright &copy; 2008 MedCommons, Inc.</li>&nbsp;&nbsp;&nbsp;&nbsp;
                   <li><a href="http://www.medcommons.net/index.php">Home</a></li>&nbsp;&nbsp;|&nbsp;&nbsp;
                     <li><a href="http://www.medcommons.net/termsofuse.php">Terms of Use</a></li>&nbsp;&nbsp;|&nbsp;&nbsp;
                         <li><a href='http://www.medcommons.net/privacy.php'>Privacy Policy</a></li>&nbsp;&nbsp;|&nbsp;&nbsp;
                         <li><a target='_new' href="http://ccrcommons.com">Public HealthURLs</a></li>&nbsp;&nbsp;|&nbsp;&nbsp;
                            <li><a href="http://forum.medcommons.net/">Forums</a></li>&nbsp;&nbsp;|&nbsp;&nbsp;
                       <li><a href='mailto:info@medcommons.net'>Support</a></li> &nbsp;&nbsp;|&nbsp;&nbsp;    
                    <li class="notiPhone"><a href="http://www.medcommons.net/contact.php">Contact Us</a></li>
		</ul>

        </div> <!-- footer  end -->
              <script  type="text/javascript">wsinit();</script>
  {% endblock %}
