{% extends "www/base.html" %}

{% block meta %}
<base href='{{ Site }}/' />
{% endblock %}

{% block main %}
<div id='content'>
  <p>Lorem ipsum impetus indoctum erroribus sed ne, ad quo nemore incorrupte conclusionemque. Odio sadipscing complectitur has ut. Vix ut quidam suavitate. Zzril voluptaria te qui. Ei fabellas honestatis concludaturque eam, mei vitae fastidii in.
  </p>

  <p>
Usu nulla iriure aliquyam at, nec ad quod partem lucilius. At illud legendos sed, aliquam legimus mea eu. Vel aperiam oportere urbanitas an. Cum cu oblique molestie, ad tritani sensibus mea. Nullam oblique scripserit at has. Ad nec modus dicant lucilius, an sale labore sea.
  </p>
  <h3>Header h3</h3>
  <p>
Eu quo accusam appareat legendos, nihil soluta et vim, mei no nihil mollis aliquando. Has veniam placerat prodesset cu. Puto diceret argumentum ea mei, ut paulo nemore nec. Ad affert putant deserunt usu. Ponderum reformidans ne per. An usu sapientem splendide forensibus, est id amet nusquam senserit.
  </p>
  <h4>Header h4</h4>
  <p>
Eu impetus impedit senserit mei. Facer perpetua his ei, in tale officiis conclusionemque vel. Qui ne saperet neglegentur mediocritatem. Ad eos accusamus intellegam, his magna repudiandae philosophia ea. At atqui disputando mei. Debet exerci veritus duo an, ignota fabulas ex est. Cu puto omnis habeo duo, te discere instructior nam, at duo putent erroribus assentior.
  </p>
  <p>
Aeque antiopam persecuti ex duo, assum suscipiantur quo no. Aperiam complectitur his ne, facete ceteros accommodare cu pri, ad pro facilisis periculis. Persecuti ullamcorper delicatissimi est at, id eum antiopam comprehensam, his nibh voluptua ex. Ei sumo tibique qui, has ei accusamus euripidis, qui lucilius aliquyam no.
  </p>
  <h5>Header h5</h5>
  <p>
Mediocrem philosophia in vis, no vel nostro delenit. Amet inciderint definitionem cum te. An duo paulo iuvaret numquam, fugit essent id mea. Vim in nibh pertinacia temporibus, sit in mandamus hendrerit, eos at delectus eligendi vituperatoribus.
  </p>
  <p>
His te alii atomorum conclusionemque, at quo nibh qualisque. Mea nibh consetetur sadipscing ut, sit cu persecuti contentiones. Ei est maiestatis necessitatibus. Kasd laoreet abhorreant sit no. Ius dolorem disputationi ei, in ceteros consequuntur est.
  </p>
  <h6>Header h6</h6>
  <p>
Te sit ludus tantas accusam, mei et nisl nemore invidunt, eu per laboramus deseruisse. At wisi ridens adversarium his, ex vitae nonumy qui. Pro unum porro posidonium ei, cu eos inermis dolores referrentur. Iudico aliquyam principes eam te.
  </p>
  <p>
Impedit partiendo ut vix, eu mazim graeco pro, meis populo tincidunt et vel. Cu wisi regione ceteros ius, nostro appareat neglegentur vim cu. Quem falli vocent per ei, nam te wisi mandamus complectitur, te pri nibh alterum persecuti. Ne pertinax euripidis vim, malis facilisis cu usu, ex habeo timeam lobortis duo. Mei splendide efficiantur te. Ne vel dolor aliquyam, mei id ponderum erroribus.
  </p>
<h3>Unordered List</h3>
<ul>
 <li>
Nihil platonem abhorreant ius ei, est elitr facilisis ei, est ex diceret numquam. Mea ne quot sale bonorum. Idque expetenda intellegam nec ad, eum vero elaboraret no, pro scaevola erroribus explicari ex! Ius id legere volutpat.
  </li>
  <li>
Mazim integre ius eu, elit adipiscing his ne, eam error periculis percipitur in? Placerat accusata scriptorem ius cu. Dolorem senserit salutandi ex nec, mea eu harum facilisis qualisque, vix corpora consequuntur in. Vel an sonet vivendo.
  </li>
  <li>
Ea falli dicit definitiones mea. Duo docendi recusabo ad. Sed ut aperiam sapientem, no per vidit nusquam praesent? Sapientem adversarium te his, sea ne insolens similique omittantur, ei aperiri feugait volutpat vix! Populo albucius definiebas et usu, eos at dicat possim honestatis, ad ceteros accusata reformidans duo. Dicam appetere accusamus vix eu.
  </li>
  <li>
His ut quem laudem legendos, maiorum adipisci et cum, eu mei modo natum. At habemus praesent vim, quo at fabellas invidunt vulputate, te aperiam scriptorem repudiandae eos. Ei has debet viderer! Aeterno oblique ponderum cum id, ad eos nullam mnesarchum. Nonumy verear vix no, cibo sale tincidunt quo an? Brute doming et vix, at accumsan elaboraret cum!
  </li>
  <li>
Est eu suas dolorum suscipit, his ut illum repudiandae? Vis et clita audire inciderint. Prima lorem qui et, cum ea meis exerci quidam! Ad alia laudem repudiare vix, ut quaeque diceret pro! Per ad aliquip alienum pertinacia, delectus deserunt suscipiantur his ut?
  </li>
  <li>
Ius et laboramus deseruisse elaboraret, magna inermis argumentum eu his. Delectus expetenda referrentur an sit. Ei nec doctus sententiae, per takimata facilisis ad? Reque iisque aliquando an cum, in quo molestie volutpat deseruisse?
  </li>
  </ul>
<h3>Ordered List of Links</h3>
<ol><li><a href='http://www.medcommons.net/'>MedCommons</a>magna inermis argumentum eu his</li>
<li><a href='http://nytimes.com/'>NY Times</a>maiorum adipisci et cum</li>
</ol>
<h3>Input Fields</h3>
    <table>
                <tr>
                    <td width='225' align='right'>
                        Dolorem senserit:</td>
                    <td width='150' align='left'>
                        <input class='infield' type='text' name='mcid' id='mcid' value='' /></td>
                    <td>
                    </td>
                </tr>
                </table>
</div>
{% endblock main %}
