{% extends "www/base.html" %}

{% block main %}
<div id="osirix" >
    <div id="content">
    <h2>Terms of Use</h2>
        <p class="p2">
            NOT FOR CLINICAL USE - This is a trial version of the MedCommons system. The purpose
            of the trial is to determine that the feature set is appropriate, functions correctly,
            and is easy to use. If information on this system suggests a diagnosis, please confirm
            the diagnosis with a medical device approved for clinical use. Please send comments
            to <a href="mailto:cso@medcommons.org">cso@medcommons.org</a>.</p>
        <p class="p2">
            LIMITED PRIVACY - This trial is not secure. Please do not post any private or patient-identifiable
            information. MedCommons monitors this site and collects information about visitors.
            Information collected during this trial and demonstration phase is for internal
            use and will not be sold to third parties.
        </p>
       
        <p class="p2">
            This policy will be updated as the trial period continues. Please check this page
            and the associated documentation.
        </p>
        <p class="p2">
            MedCommons is a transport and interoperability service for physicians and patients.
            Use MedCommons only to communicate with and according to the instructions of your
            health care provider. NOT FOR EMERGENCY USE. IN CASE OF EMERGENCY, DIAL 911.
        </p>
        <h2>Download Osirix Adapter</h2>
        <p><a href='http://media.medcommons.net/cxp.dmg'>download</a></p>
    </div>
</div>

{% endblock main %}
