{% extends "base.html" %}

{% load medcommons %}

{% block header %}
<style type='text/css'><!--
fieldset {
	margin-left: 200px;
	width: 450px;
}

// --></style>
{% endblock %}

{% block title %}MedCommons Account Password{% endblock %}

{% block breadcrumbs %}
<a href='..'>Home</a> &gt;
<a href='.'>Accounts</a> &gt;
<a href='user?mcid={{ mcuser.mcid }}'>{{ mcuser.pretty_mcid }}</a> {{ mcuser.first_name }} {{ mcuser.last_name }} &gt;
Change Password

{% endblock %}

{% block content %}

<table>
  <tr>
    <td>
If the account still has the same email address,
you can reset the password to a random value,
and have that password sent to the account's email.
    </td>
  </tr>
  <tr>
    <td class='form'>

<form action='password' method='post'>
  <fieldset>
    <legend>Email new password</legend>

  <input type='hidden' name='mcid' value='{{ mcuser.mcid }}' />

<table>
  <tbody>
    <tr>
      <th>MCID:</th>
      <td>{{ mcuser.pretty_mcid }}</td>
    </tr>
    <tr>
      <th>Name:</th>
      <td>{{ mcuser.first_name }} {{ mcuser.last_name }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>
        <a href='mailto:{{ mcuser.email }}'>{{ mcuser.email }}</a><br />
	<span style='font-size: smaller; font-style: italic; color: gray'>
	  (search for <a href='search?q={{ mcuser.email }}'>other accounts</a>
	  with this email)</span>
      </td>
    </tr>

    {{ pw_form.as_table }}

    <tr>
      <th></th>
      <td><input type='submit' value='Email New Password'
                 name='email' /></td>
    </tr>
  </tbody>
</table>

</fieldset>
</form>

    </td>
  </tr>
{% if skey_form %}
  <tr>
    <td>
If the account has changed their email address,
you will need to verify the person's identity.

They must have the <strong>MedCommons Registration Receipt</strong>:
the sequence of random words sent to them when they first registered.

This will look something like this:

<pre style='margin-left: 200px'>
<del>SAFE.SURE.TONE.JUDY.DIED.KEG</del>
MARK.TOTE.SICK.AID.RARE.AWK
</pre>
    </td>
  </tr>
  <tr>
    <td>
Have the person read the <strong>next</strong> line of words,
and enter it here.  <strong>Ask them to cross out the words
after you've entered them!</strong>
    </td>
  </tr>
  <tr>
    <td class='form'>
<form action='password' method='post'>

  <fieldset>
    <legend>Change Email</legend>

  <input type='hidden' name='mcid' value='{{ mcuser.mcid }}' />

<table>
  <tbody>

    {{ skey_form.as_table }}

    <tr>
      <th></th>
      <td><input type='submit' value='Email New Password' /></td>
    </tr>
   </tbody>
</table>
  </fieldset>
</form>

    </td>
  </tr>
{% endif %}
</table>

{% endblock %}
