@ IN SOA ns1.medcommons.net. root.medcommons.net. (
	2006062801	; serial
	3h		; refresh
	1h		; retry
	7d		; expire
	1d	)	; minimum ttl

	in	ns	ns1.medcommons.net.
	in	ns	ns2.medcommons.net.

	in	a	67.15.178.46

	in	mx	30 mx1.medcommons.net

	in	txt	"v=spf1 ip4:67.15.178.32/28 ?all"

www	in	a	67.15.178.46
