{% extends "form.html" %}

{% block title %}Edit Identity Provider{% endblock %}

{% block breadcrumbs %}
<a href='..'>Home</a> &gt;
<a href='.'>Identity Providers</a> &gt;
Edit {{ object.source_id }}
{% endblock %}

{% block content %}

{% if form.errors %}
<h2>Please correct the following error{{ form.errors|pluralize }}:</h2>
{% endif %}

<form method='post' action='edit' enctype='multipart/form-data'>
  <table>
    <tbody>
{{ form }}
    </tbody>
  </table>

  <div id='submit-row'>
    <input type='hidden' name='id' value='{{ object.id }}' />

    <input type='submit' value='Save' class='default' />

    <input type='submit'
           name='add'
           value='Save and add another' />

    <input type='submit'
           name='edit'
           value='Save and continue editing' />

  </div></form>

{% endblock %}
