 @import url("medCommonsStyles.css");
 @import url("dropDown.css");
 .menu {position:absolute;top:77px;left:27px; z-index:100;width:100%}
 #ContentBox {position:relative; padding-top: 10px;}
body {

}
.iPhone { display: block}
.notiPhone { display: none}