/* global----------------------------------------------- */

body {  
  background: #fff url(images/beta.gif);
  background-repeat:  no-repeat; background-position: center; background-attachment: fixed;
  font-family: verdana, helvetica, arial, sans-serif;
  margin: 0 0px 0 0px;
  color: #333;
}

/* layout----------------------------------------------- */

#container {  
  position: relative;
  background: url() no-repeat top left;
  margin: 0px 0px 0px 0px;
  width: 100%;
}

#pageHeader {
  display: inline;
}

#tinyHeader {
  position: absolute;
  left: 250px;
  top: 12px;
  font-size:9px;
  width: 300px;
}

#quickSummary,  #tableSummary {
  width: 100%; 
  text-align: left;
}

#logofootnote {
  position: relative;
  top: -6px;
  font-size: 9px;
}

#quickSummary p.p1,#tinyHeader p.p1, #tableSummary p.p1 {
  display: none;
}

#quickSummary p.p2, #tinyHeader p.p2,#tableSummary p.p2 {
  margin-top: 0;
  padding-right: 5px;
}

#supportingText {  
  margin-top: 20px;
}

#patientCCRLog {  
  margin: 0 0 0 0;
  width: 705px;
}

#contentframe {
  padding: 0 0 0 176px;
  background-image: none;
  background-color: transparent;
}

#preamble {  
  margin: 0 0 0 176px;
  width: 529px;
}

#preamble p a:link, 
#preamble p a:visited, 
#preamble p a:active {
  font-size: 10px;
  font-weight: bold;
  color:blue;
  text-decoration: none;
}

#registration a:link, 
#registration a:visited , 
#registration a:hover , 
#registration a:active {
  font-weight: normal;
  color: #c22;
  text-decoration: underline;
}

#registration label {
  font-size: 14px;
}

#registration input {
  margin:  0px 4px 4px 0px;
}


#participation, #benefits, #requirements {
  margin: 25px 0 0 176px;
width: 529px;}

#footer {
  margin: 0 0 5px 0;
  padding: 10px 0 0 0;
  width: 100%;
  text-align: center;
}

#linkList {
  position: absolute;
  width: 150px;
  left: 0px;
  top: 120px;
  margin-left: 8px;
}


#faqBody{  
  position: absolute;
  width: 740px;
  left: 0px;
  top: 74px;
}

#trackingBox {  
  border: 1px solid #09345f;
  padding: 3px;
}

#trackingBox form {
  font-size:10px;
}

#trackingBox a:link,
#trackingBox a:visited,
#trackingBox a:hover,
#trackingBox a:active {
  text-decoration: none;
}

.bulletLink a, .bulletLink a:link, .bulletLink a:visited {  
  list-style: none;
  padding: 1px 0 1px 1.5em;
  background: transparent url("images/rinbulletOver.gif") no-repeat left top;
  font-size: 11px;
  text-decoration: none;
  color: #000;
}

.bulletLink a:hover {  
  background: transparent url("images/rinbullet.gif") no-repeat left top;
  color: #c22;
}

.bulletLink ul {  
  font-size: 12px;
  list-style:none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #663333;
}

.bulletLink ul li {
  margin: 0;
  padding: 0 0 0 4px;
  text-align: left;
  line-height: 14px;
  color: #ccc;
}

.emergencyccr {  color: #c22 ;}
.emergencyccr  a {  color: #c22;}

#emrgencyCCRBox {
  border: 1px solid #09345f;
  padding: 10px;
  text-align: center;
}

#idInfo ul {
  font-size: 10px;
  list-style:none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #663333;
}

#idInfo ul li {
  margin: 0;
  padding: 0 0 0 0;
  font-size: 10px;
  text-align: left;
  line-height: 14px;
  color: #ccc;
}

#emergencyCCRBox form {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size:14px;
}

#personalInfo {
  position: absolute;
  left: 495px;
  top: 12px;
  border: 1px solid #09345f;
  padding: 10px;
  font-size:12px;
  text-align: left;
}

#personalInfo h3 {
  width: 190px;
  height: 20px;
  margin-top: 5px;
  padding-top: 5px;
  background: #ccc url("images/ringradient.jpg") repeat-x top left;
  font-size: 12px;
  line-height: 23px;
  font-weight: bold;
  color: #000;
  padding-left: 5px ;
}

#personalInfo a, #personalInfo a:link, #personalInfo a:visited {  
  color: #999;
  font-size:8px;
}

#personalInfo a:hover {  color: #333;}

#explanation {  
  margin: 0px 0 0 176px;
  width: 529px;
}

/* text----------------------------------------------- */
ccrlog {  
  display: table; 
  font-size: 12px; 
  color:red;
}

headers {
  display:table-header-group;
  font-size: 14px;
  background: #ccc url("images/ringradient.jpg");
  color: gray;
  font-weight: bold;
}

user {  display:table-row-group; color: blue;}

encounter {  display: table-row; color: purple;}

colhead, viza,vizb,date,docid,from,to,subj {  display: table-cell; color:green;}

redCCR {  background: url("images/RedCross_16.gif") no-repeat;}

editCCR {  background: url("images/b_edit.png") no-repeat;}
viewCCR {  background: url("images/magnifier.png") no-repeat;}

table {  font-size: 12px;}

th {  font-size: 14px;
background: #ccc url("images/ringradient.jpg");
font-weight: normal;}

td.editCCR {  background: url("images/b_edit.png") no-repeat;}
td.viewCCR {  background: url("images/magnifier.png") no-repeat;}

tr.emergencyccr {  color: red;}

p {  font-size: 12px;}

#preamble p.p1, #supportingText p.p1 , #patientCCRLog p.p1 {  margin-top: 10px;}

#preamble p, #supportingText p, #patientCCRLog p {  line-height: 18px;}

#quickSummary p.p2, #tinyHeader p.p2 {  font-size: 9px;
color: #999;}

#tableSummary p.p2 {  font-size: 11px;
color: #999;}

#footer {  font-size: 9px;}

/* links-------------------------------------------was ccc- then 000-- */

a, a:link, a:visited {  
  color: #777;
/*background: #fff;*/
}

a:hover {  
  color: #c22;
}


#quickSummary a, #quickSummary a:link, #quickSummary a:visited {
text-transform: lowercase;
color: #ccc;
text-decoration: none;}


#quickSummary a:hover {  text-decoration: underline;}

#tinyHeader a, #tinyHeader a:link, #tinyHeader a:visited {
text-transform: lowercase;
color: #ccc;
text-decoration: none;}


#tinyHeader a:hover {  text-decoration: underline;}

#footer a, #footer a:link, #footer a:visited {  font-weight: bold;

text-transform: uppercase;
text-decoration: none;}

#footer a:hover {  text-decoration: underline;}

/* headings----------------------------------------------- */

h3 {  margin-bottom: 0px;}

h3 span {  display: inline}

#linkList h3 {  
  width: 150px;
  height: 20px;
  margin-top: 20px;
  padding-top: 5px;
  background: #ccc url("images/ringradient.jpg") repeat-x top left;
  font-size: 11px;
  line-height: 23px;
  font-weight: bold;
  color: #000;
  padding-left: 5px ;
}

#supportingText h3 {
width: 529px;
  height: 15px;
  padding-top: 5px;
}

#preamble h3 {
  background: transparent url() no-repeat top left;
  width: 529px;
  /* ssadedin: auto is necessary to clear fixed height 
     from #supportingText rule above */
  height: auto; 
}

#patientCCRLog h3 {
  background: transparent url() no-repeat top left;
  width: 529px;
  height: 26px;
}

/* misc--------------------------------- */

acronym {  border-width: 0;}

img {  border-width:0}

/* tour -------------------------------------*/
  
#tour {
  position:absolute;
  width:750px;
  margin:0;
  border:3px double #000;
  height:900px;
  padding:0;
}

#tour p {  
  width: 230px;  
  padding: 0 0 0 0; 
  margin: 0; 
  overflow:hidden;
  font-size:10px;
}

#tour p a:link, #tour p a:visited, #tour p a:active {
  font-size:10px;
  position:relative;
  font-weight:bold;
  color:#0000FF;
  text-decoration:none;
}
#tour p  a:hover {
  font-size:10px;
  color:#000;
  text-decoration:underline;
}

.showTour {
  width:500px;
  height:600px;
  margin:0; padding:0;
  float:left;
  border-right:1px solid #000;
}
.hideTour {
  display:none;
}
#tour p.current_slide {
  font-size:12px;
  height:auto;  
}
#tour p.current_slide a {
  color:#000;
}
#tour p.dormant_slide {
  font-size:8px;
  
}
#tour p.dormant_slide a {
  color:#000;
}  
  
@media print {
  .noprint { 
    display: none;
  }
  body { 
      background: white; color: black; width: 100% 
  }

  #container, 
  #preamble, 
  #supportingText, 
  #preamble h3, 
  #supportingText h3 { 
    width: 100%;
    /*border-bottom: 5px solid #09345f; */
  }

  h1,h2,h3 { 
    border: 0; color: black; background: white;
  }


  #linkList { 
    display: none; 
  }

  a { 
    text-decoration: none; color: black; 
  }
}

/* Theme selection dropdown */
#theme {
  margin: 6px 0px 0px 6px;
  font-size: 9px;
}

/* Account link - not displayed by default */
#leftAccountLink {
  display: none;
}

.acctRadio,.acctRadioDesc {
  font-size: 14px;
}
.acctRadio {
  font-weight: bold;  
}


/* Needed to override default input margins */
#registration input.regradio {
  margin: 2px 2px 0px 0px;
}

div.label {
	width: 220px;
	float: left;
	text-align: right;
}
div.label label {
  position: relative;
  top: 2px;
}

p.regheading {
  font-size: 14px;
  font-weight: bold;
}


#registration {
  font-size: 12px;
  color: #444;
}

