{% extends "base.html" %}

{% load medcommons %}

{% block title %}Registered Applications{% endblock %}

{% block breadcrumbs %}
<a href='..'>Home</a> &gt;
Applications
{% endblock %}

{% block sidebar %}
<ul class='object-tools'>
  <li><a href='register' class='addlink'>Create</a></li>
</ul>
{% endblock sidebar %}

{% block content %}

<table>
  <thead>
    <tr>
      <th></th>
      <th>Application Name</th>
      <th>Code</th>
      <th>Key</th>
      <th>Secret</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan='5'>
        <span style='float: left'>
{% if has_previous %}
          <a href='?page=1'>&laquo; first</a>
          <a href='?page={{ previous }}'>&lt; prev</a>
{% endif %}
        </span>
        <span style='float: right'>
{% if has_next %}
          <a href='?page={{ next }}'>next &gt;</a>
          <a href='?page={{ pages }}'>last &raquo;</a>
{% endif %}
        </span>
      </td>
    </tr>
    <tr>
      <td colspan='5'>
        <span style='float: left'>
     <a href='register'>
    <img src='{{ media }}img/CreateGroup.png' width='20' height='20' border='0'
         alt='Register Application' /></a>
    <a href='register'>register new application</a>
        </span>
        <span style='float: right'> Page {{ page }} of {{ pages }}.  </span>
      </td>
    </tr>
  </tfoot>
      
  <tbody>
{% for entry in object_list %}
    <tr class='{% cycle a,b %}'>
      <td>
        <a href='edit?id={{ entry.ea_id }}'>
          <img src='{{ media }}img/icon_changelink.gif' width='10' height='10'
               alt='Edit Application' />
        </a>
        <a href='delete?id={{ entry.ea_id }}' onclick='return confirm("Really delete application {{ea.name}}");'>
          <img src='{{ media }}img/icon_deletelink.gif' width='10' height='10'
               alt='Delete Application' />
        </a>
      </td>
      <td>
        <a href='edit?id={{ entry.ea_id }}'>
          {{ entry.ea_name|escape }}
        </a>
      </td>
      <td>
          {{ entry.ea_code|escape }}
      </td>
      <td>
        <a href='edit?id={{ entry.ea_id}}'>{{ entry.ea_key }}</a>
      </td>
      <td>
        {{ entry.ea_secret }}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}
