{% extends "form.html" %}

{% block content %}

{% if error %}
<p class='error'>Unknown username/password</p>
{% endif %}

<p>
A new password has been sent to your registered e-mail address.
</p>
<p>
When you receive the new password, you can log in below.
</p>

<form method='post'
      action='login'>
  <table>
    <tbody>
      <tr>
	<td><label for='username'>Username:</label></td>
	<td>
	  <input type='text' name='username' id='username'
		 value='{{ username }}' />
	</td>
      </tr>

      <tr>
	<td><label for='password'>Password:</label></td>
	<td>
	  <input type='password' name='password' id='password' />
	</td>
      </tr>

      <tr>
	<td></td>
	<td><input type='submit' value='Login' class='default' /></td>
      </tr>

      <tr>
	<td></td>
	<td><a href='register'>register new account</a></td>
      </tr>
    </tbody>
  </table>

  <input type='hidden' name='next' value='{{ root }}' />
</form>



{% endblock %}
