<?xml version='1.0'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>IGA - {{ META.SERVER_NAME }}</title>
    <link rel='Stylesheet' type='text/css' href='{{ media }}style.css' />
    <link rel='stylesheet' type='text/css' href='{{ media }}css/forms.css' />
    {% block header %}{% endblock %}
  </head>
  <body{% block body %}{% endblock %}>
    <div id='container'>
      <div id='header'>
	<div id='branding'>
	  <h1 id='site-name'>
	  MedCommons Universe &mdash;
	  <a href='https://{{ META.SERVER_NAME }}'>{{ META.SERVER_NAME }}</a> &mdash; IGA
	  </h1>
	</div>

	<div id='user-tools'>
	  {% if user.is_authenticated %}
	  Welcome, <strong>{{ user }}</strong>.
	  <a href='{{ root }}account/password'>Change password</a> |
	  <a href='{{ root }}account/logout'>Logout</a>
	  {% endif %}
	</div>
      </div>

      <div id='content' class='colM'>
        <div id='breadcrumbs'>{% block breadcrumbs %}{% endblock %}
	</div>

	<h1>{% block title %}{% endblock %}</h1>
	<div id='sidebar'>
	  {% block sidebar %}{% endblock %}
	</div>

	<div id='content-main'>
	  <center>
	  {% block content %}{% endblock %}
	  </center>
	</div>
      </div>
    </div>
  </body>
</html>
