{% extends "base.html" %}

{% block title %}MedCommons Global Administration{% endblock %}

{% block breadcrumbs %}
Home
{% endblock %}

{% block header %}

    <style type='text/css'><!--

th, td {
  text-align: left;
  vertical-align: top;
}

table#main td {
  border-bottom: solid #cccccc;
}

h3, .icon_label {
  font-weight: bold;
  font-size: 14pt;
}

.main_icon {
  vertical-align: bottom;
}

.icon {
  vertical-align: middle;
}

h2 {
  font-weight: bold;
  font-size: 14pt;
  margin-top: 4px;
}

// --></style>

{% endblock %}

{% block content %}
      <table border='0' id='main'>
        <thead>
	  <tr>
	    <td colspan='2'>
<h2>
Configure and manage the
MedCommons Universe.
</h2>
	    </td>
	  </tr>
	</thead>

        <tbody>
	  <tr>
	    <td>
      <a href='admins/'>
        <img src='media/img/Gearwheel.png' width='20' height='20' border='0'
	     alt='Administrators' class='main_icon' /></a>
      <a href='admins/' class='icon_label'>Administrators</a>
<br />
	{{ admins_count }} Administrator{{ admins_count|pluralize }}
            </td>
	    <td>
<h2>Manage Administrators</h2>
<p>
Administrators are special separate user accounts that
have the authority to use this console, and manage the system.
</p>
<form method='get' action='admins/search'>
<a href='admins/create'>
    <img src='media/img/CreateAdmin.png' width='20' height='20' border='0'
         alt='Create Administrator' class='icon' /></a>
  <a href='admins/create'>create</a>
&nbsp;|&nbsp;
<a href='admins/'>
  <img src='media/img/icon_list.gif' width='16' height='16' border='0'
       alt='List Administrators' class='icon' /></a>
<a href='admins/'>list</a>
&nbsp;|&nbsp;

  <input type='text' name='q' value='search' />

  <input type='image' src='media/img/icon_searchbox.png' width='18' height='16'
         name='search' alt='Search Admins' />
</form>
            </td>
	  </tr>

          <tr>
            <td>
      <a href='appliances/'>
        <img src='media/img/User.png' width='20' height='20' border='0'
	     alt='Manage Accounts' class='main_icon' /></a>

      <a href='appliances/' class='icon_label'>Appliances</a>
<br />
  {{ appliances_count }} Appliance{{ appliances_count|pluralize }}
            </td>
            <td>
<h2>Manage Appliances</h2>
<p>
Manage Appliance Servers
</p>

            </td>
          </tr>

        </tbody>
      </table>

<p class='copyright'>
Copyright &copy; 2008, MedCommons, Inc.
</p>

{% endblock %}

