{% extends "base.html" %}

{% block title %}
Configure Appliance Wizard
{% endblock %}

{% block breadcrumbs %}
<a href='..'>Home</a> &gt;
<a href='.'>Configuration</a> &gt;
Configure Appliance
{% endblock breadcrumbs %}

{% block content %}
<div class='breadcrumbs'>
<a href='wiz_name'>1) Name</a> &gt;
<a href='wiz_location'>2) Location</a> &gt;
<b>3) Web</b> &gt;
4) Email &gt;
5) Style &gt;
6) Settings
7) Publish
</div>

<table style='width: 400px'>
  <tr>
    <td>
<img src='{{ media }}img/Circle_3.png' width='20' height='20' alt='3' />
    </td>
    <td>
<p>
Now, we configure the <em>web</em> parameters of this appliance.
</p>
    </td>
  </tr>
</table>

<form method='post' action='wiz_web'>
  <table>
    {{ form }}
  </table>

  <div id='submit-row'>
    <input type='submit' name='prev' value='&lt;&lt; Prev' />
    <input type='submit' name='next' value='Next &gt;&gt;' class='default' />
  </div>
</form>

{% endblock %}


