{% extends "base.html" %}

{% block title %}
Configure Appliance Wizard
{% endblock %}

{% block breadcrumbs %}
<a href='..'>Home</a> &gt;
<a href='.'>Configuration</a> &gt;
Configure Appliance
{% endblock breadcrumbs %}

{% block content %}
<div class='breadcrumbs'>
<a href='wiz_name'>1) Name</a> &gt;
<a href='wiz_location'>2) Location</a> &gt;
<a href='wiz_web'>3) Web</a> &gt;
<a href='wiz_email'>4) Email</a> &gt;
<b>5) Style</b> &gt;
6) Settings
7) Publish
</div>

<table style='width: 400px'>
  <tr>
    <td>
      <img src='{{ media }}img/Circle_5.png' width='20' height='20' alt='5' />
    </td>
    <td>
<p>
The basic style of the appliance can be modified here,
by specifying a logo, and an alternate style sheet that
overrides the MedCommons-provided style sheets.
</p>
    </td>
  </tr>
</table>

<form method='post' action='wiz_style'>
  <table>
    {{ form }}
  </table>

  <div id='submit-row'>
    <input type='submit' name='prev' value='&lt;&lt; Prev' />
    <input type='submit' name='next' value='Next &gt;&gt;' class='default' />
  </div>
</form>

{% endblock content %}
