{% extends "base.html" %}

{% block title %}
Configure Appliance Wizard
{% endblock %}

{% block breadcrumbs %}
<a href='..'>Home</a> &gt;
<a href='.'>Configuration</a> &gt;
Configure Appliance
{% endblock breadcrumbs %}

{% block content %}
<div class='breadcrumbs'>
<a href='wiz_name'>1) Name</a> &gt;
<a href='wiz_location'>2) Location</a> &gt;
<a href='wiz_web'>3) Web</a> &gt;
<a href='wiz_email'>4) Email</a> &gt;
<a href='wiz_style'>5) Style</a> &gt;
<b>6) Settings</b>
7) Publish
</div>

<table style='width: 400px'>
  <tr>
    <td>
      <img src='{{ media }}img/Circle_6.png' width='20' height='20' alt='6' />
    </td>
    <td>
<p>
<code>ApplianceMode</code> modifies certain behaviors of the appliance.
<ol>
  <li value='0'>Development - Send no email</li>
  <li value='1'>Test - Sends email, no security</li>
  <li value='2'>Demo - Full features, MCIDs and tracking numbers are allocated from the demo pool, and may be duplicated</li>
  <li value='3'>Production - Full features.  Use with real patients</li>
</ol>
</p>
<p>
<code>OnlineRegistration</code> opens up registration.  New users can
create accounts on the <a href='/acct/register.php'>/acct/register.php</a> page.
</p>
    </td>
  </tr>
</table>

<form method='post' action='wiz_settings'>
  <table>
    {{ form }}
  </table>

  <div id='submit-row'>
    <input type='submit' name='prev' value='&lt;&lt; Prev' />
    <input type='submit' name='next' value='Next &gt;&gt;' class='default' />
  </div>
</form>

{% endblock %}


