{% extends "form.html" %}

{% block title %}Add Administrator{% endblock %}

{% block breadcrumbs %}
<a href='..'>Home</a> &gt;
<a href='.'>Administrators</a> &gt;
Add
{% endblock %}

{% block content %}

{% if form.errors %}
<h2>Please correct the following error{{ form.errors|pluralize }}:</h2>
{% endif %}

<form method='post'
      action='create'>

  <table>
    <tbody>
      {{ form }}
    </tbody>
  </table>

  <div id='submit-row'>
    <input type='submit' value='Save' class='default' />

    <input type='submit'
	   name='create'
	   value='Save and create another' />

    <input type='submit'
	   name='edit'
	   value='Save and continue editing' />
  </div>
</form>

{% endblock %}
